<!doctype html>
<html>
<head>
    <title>Personal Expense Calculator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Personal Expense Calculator</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1cDWzBk26_pC2aeKgRthA5SCqo32-_9SwMpEqVe1ThqxZPOdy" alt="Personal Expense Picture">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
